{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- My Apointments Masthead -->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Make Appointment</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Make appointments here! And find all you're upcoming appointments below..</h2>
                <div class="card bg-light">
                    <div class="card-body">
                        <form class="text-center" method="post">
                            {{ appointment_form | crispy }}
                            {% csrf_token %}
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- My Appointments Section -->
<section class="projects-section my-5" id="projects">
    <h2 class="mx-auto my-0 text-uppercase text-center">My Appointments</h2>
    <p class="text-black-50 text-center py-2 px-5">Access a comprehensive list of all your appointments, displaying every booking you've made for easy reference.</p>
    <div class="container px-5 px-lg-6">
        <!-- Displaying users appointments Rows -->
        <div class="row">
            {% for appointment in appointments %}
                {% if appointment.author == request.user %}
                    <div class="col-lg-4 mb-4"> <!-- Adjust column size as needed -->
                        <div class="card h-100 bg-light">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div>
                                    <div class="row">
                                        <h4 class="card-title">{{ appointment.title }}</h4>
                                        <h5 class="card-title text-black-50">{{ appointment.title.price }}</h5>
                                    </div>
                                    <hr>
                                    <ul>
                                        <li class="card-text">Stylist: <strong>{{ appointment.stylist }}</strong></li>
                                        <li class="card-text">When: <strong>{{ appointment.date_appo }}</strong></li>
                                        <li class="card-text">Time: <strong>{{ appointment.time_appo }}</strong></li>
                                    </ul>
                                </div>
                                <div>
                                    <hr>
                                    <div class="row justify-content-center">
                                        <button class="col-5 btn btn-primary text-uppercase mx-2" id="edit-btn">Edit</button>
                                        <button class="col-5 btn btn-primary text-uppercase mx-2" id="delete-btn">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd', // Adjust the format as needed
            autoclose: true
        });
    });
</script>

{% endblock content %}
