{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- My Apointments Masthead -->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Make an Appointment</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"><em>"Revitalize your style with precision and passion in
                        every
                        cut at our establishment."</em></h2>
                <a class="btn btn-primary text-uppercase w-100" href="">Book Now</a>
            </div>
        </div>
    </div>
</header>

<!-- My Appointments Section -->
<section class="projects-section my-5" id="projects">
    <h2 class="mx-auto my-0 text-uppercase text-center">My Appointments</h2>
    <p class="text-black-50 text-center py-2 px-5">Access a comprehensive list of all your appointments, displaying every booking you've made for easy reference.</p>
    <div class="container px-5 px-lg-6">
        <!-- Displaying users appointments Rows -->
        <div class="row">
        {% for appointment in appointment_list %}
        {% if appointment.author == request.user %}
            <div class="col-md-4">
                <div class="card mb-4 bg-light">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ appointment.title }}</h4>
                        <hr>
                        <ul>
                            <li class="card-text">Stylist: <strong>{{ appointment.stylist }}</strong></li>
                            <li class="card-text">When: <strong>{{ appointment.date_appo }}</strong></li>
                            <li class="card-text">Time: <strong>{{ appointment.time_appo }}</strong></li>
                        </ul>
                        <hr>
                        <div class="row">
                            <button class="btn btn-danger btn-delete">Delete</button>
                            <button class="btn btn-success btn-edit">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}

    <!-- Plus Button -->
    <div class="container px-5 px-lg-6 text-center mt-5">
        <button class="circle-btn" href=""><i class="fa-solid fa-plus"></i></button>
    </div>

    </div>
</section>


{% endblock content %}